.body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgb(0, 0, 0, 0.4)
}
.slides-navigation{
    z-index: 6;
}
.slides-navigation .next,
.slides-navigation .prev{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/prev.png);
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/next.png);
}
.titleMessage {
    position: absolute;
    width: 100%;
    height: 300;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}


.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    letter-spacing: 7px;
    font-weight: 100;
}

.titleMessage .heading .main {
    font-size: 50px;
}
 
.titleMessage .heading .sub {
    position: relative; 
    font-size: 23px;
}

.titleMessage .heading p {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: white;
}
.titleMessage .borderBtn{
        top: 70px;
        position: relative;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 18px 50px 18px 50px;
        display: inline-block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in, 0s;
        -moz-transition: all 0.3s ease-in, 0s;
        -o-transition: all 0.3s ease-in, 0s;
        -ms-transition: all 0.3s ease-in, 0s;
        transition: all 0.3s ease-in, 0s;
} 

.section{
    padding: 100px 0;
}
.myImage{
    max-width: 100%;
}

.skillSection,
.contactSection{
   background-color: #95a5a6;
   color: #fff;
}
.skill{
    text-align: center;
    margin-left: 10px;
}

.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content: '%';
}

.squareItem{
    margin-top: 30px;
    position: relative;
    
}
.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}

.squareContent h2{
    font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #95a5a6;
}

.squareContent h3{
    font-size: 13px;
 	font-weight: 600;
	margin: 0;
}

.squareIcon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}
.contactButton{
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}
.contactButton:hover{
    text-decoration: none;
    color: #95a5a6;
    background-color: #fff;
}

.filter a{
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}

.filter li{
    display: inline-block;
    padding: 5px;

}

.filter .current{
    background-color: #95a5a6;
    border-color: #95a5a6;
    columns: #fff;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li{
	display : inline-block;
	padding: 5px;
}
.itemsContainer{
    width: 100%;
}

.items li img{
    width: 100%;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item{
    position: relative;
	display : block;
	overflow: hidden;
}

.items .icons{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
	z-index: 3;
}

.items .icons i{
	color:#fff;
	font-size: 20px;
	margin-top:9px;
}

.items a{
	width:40px;
	height:40px;
	background-color:#95a5a6;
	position:relative;
    display:inline-block;
    
    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay{
	width:100%;
	height:100%;
    background-color:rgb(0,0,0,0.5);
    position: absolute;
	left:0px;
	top:0px;
    opacity:0;
    
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay{
	opacity:1;
}
.items .openButton{
    float: left;
    left: -200px;
}

.items .projectLink{
    float: right;
    right: -200px;
}

.items .item:hover .openButton{
    left: 0px;
}

.items .item:hover .projectLink{
    right: 0px;
}

.items .item:hover img{
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -transition: scale(1.05,1.05);
}

.items{
    padding: 0;
}

.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}

.copyrightSection p{ 
    margin: 0;
}
#navigation{
    background-color: #95a5a6;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li{
    padding: 0 10px;
}

#navigation li a{
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}
.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}
 
.firstSec {
    padding-top: 30px;
}

.img-circle {
    border-radius: 50%;
}

 

.loader {
	width: 100%;
	height: 100%;
	background-color: #95a5a6;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../img/loader.gif) center center no-repeat;
}
.clear {
    clear: both;
}
footer { 
    background: #95a5a6; 
}
footer p { 
    font-size: 12px; 
    color: white; 
    text-align: center; 
}
footer ul {
     width: 100%; 
     text-align: center;
      margin-top: 20px; 
    }
footer li { 
    display: inline-block; 
    margin: 0 4px; 
}
footer li a { 
    display: block; 
    text-decoration: none; 
    border-bottom: none; 
    padding: 18px; 
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px; 
     -ms-border-radius: 3px; 
     -o-border-radius: 3px; 
     border-radius: 3px; 
     -webkit-transition: all 0.3s ease-in, 1s;
     -moz-transition: all 0.3s ease-in, 1s;
     -o-transition: all 0.3s ease-in, 1s; 
     -ms-transition: all 0.3s ease-in, 1s; 
     transition: all 0.3s ease-in, 1s; 
}

footer .linkedin { 
    background: url(../img/icons/social_icons/linkedin.png) 
    center no-repeat #fff; 
}
footer .linkedin:hover { 
    background-color: #0073b2; 
}

footer .github { 
    background: url(../img/icons/social_icons/git.png) 
    center no-repeat #fff; 
}
footer .github:hover { 
    background-color: #0073b2; 
}

footer .facebook { 
    background: url(../img/icons/social_icons/fb.png) 
    center no-repeat #fff; 
}
footer .facebook:hover { 
    background-color: #0073b2; 
}
.section h2{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #95a5a6
}